# Ignorar node_modules
node_modules/

# Ignorar ambientes virtuais do Python
venv/
.env/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar arquivos de configuração sensíveis
.env

#backend e frontend antigos
backend/
frontend/
main.py