<nav class="py-4 px-8 md:grid grid-cols-7 gap-x-2 grid">
    <h1 class=" col-start-1 col-end-3 text-2xl font-bold text-black w-max">
      Satoshi <span class="text-orange-500">Today</span>
    </h1>
    <ul class="col-start-4 col-span-3 flex gap-6 text-gray-700">
      <li><a href="#" class="hover:text-black">What is Sats?</a></li>
      <li><a href="#" class="hover:text-black">News</a></li>
      <li><a href="#" class="hover:text-black">Get Notification</a></li>
    </ul>

    <div class="col-start-8 col-span-2" id="login">
      <span class="mx-5">Login</span>
      <span>Register</span>
      <button id="dark-mode-toggle" 
              class="absolute top-4 right-4 p-2 rounded bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200">
        Toggle Dark Mode
      </button>
    </div>
  </nav>