


<div class="bg-white flex justify-center items-center flex-col">
    <div class="flex justify-center flex-col items-center text-black">
        <span class="mb-2">What is Satoshi</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
    </div>

    <div class="w-1/3 text-black">
        <h1 class="mb-8">Whats is Satoshi?</h1>
        <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab ipsam harum odit repudiandae, eaque neque. Repellendus aspernatur distinctio ad suscipit aperiam quisquam dolorem a. Deleniti nesciunt recusandae hic fugiat, officia sequi incidunt unde aperiam ducimus expedita veritatis saepe possimus doloribus odit quas fuga tempore voluptatem ipsa. Culpa excepturi dolore corrupti.</p>
            <img class="w-2/6" src="../static/img/Satoshi_Nakamoto.jpg" alt="pseudo-satoshi-retrato">
        </div>
    </div>
</div>